<div class="searchzone">
  <form action="/gages" method="get" class="">
    <input type="text" name="query" placeholder="Recherche un gage" class="">
    <input type="submit" class= "btn btn-success" value="Ok">
  </form>
</div>
<% Gage.all.each do |gage| %>
  <div class="index-content">
    <div class="titre">
      <p><%= gage.name %></p>
    </div>
    <div class="link">
      <input class="offscreen" id="input<%= gage.id %>" value="https://laura-app-twelve.herokuapp.com/gages/<%= gage.id %>" aria-hidden="true">
      <button id="copy" data-gageid="<%= gage.id %>"><i class="fas fa-copy" ></i></button>
    </div>
  </div>
<% end %>

<!-- https://laura-app-twelve.herokuapp.com -->
<!-- http://localhost:3000 -->
